@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* font-family: 'Ubuntu', sans-serif;
font-family: 'Poppins', sans-serif; */

body{
    background-color: rgb(35, 35, 66);
    color: white;
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    background-color: rgb(52, 52, 117);
    padding: 100px;
} 

nav  ul{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

nav ul li{
    list-style: none;
    margin: 15px 23px;
    /* font-weight: bold; */
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav ul li a{
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    color: rgb(204, 204, 250);
    font-size: 1.02rem;
}

.left{
    /* font-weight: bolder; */
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    margin-bottom: auto;
}

.right{
    font-family: 'Poppins', sans-serif;
}

footer{
    background-color: rgb(52, 52, 117);
}

.list-unstyled li{
    color: white;
    padding: 5px;
    margin-left: 510px;
    text-decoration: none;
}

h3{
    color: rgb(141, 188, 226);
}

h5{
    color: rgb(141, 188, 226);
    margin-left: 500px;
}

.secondSection{
    max-width: 88vw;
    margin: auto;
    height: 110vh;
}

.text-gray{
    color: gray;
}

.box{
    background: white;
    width: 35vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
    flex-direction: column;
}

.vertical{
    height: unset;
    width: 1px;
    background-color: white;
    margin: 0 150px;
}

.image-top{
    width: 40px;
    position: relative;
    top: 40px;
    left: -70px;
}

.vertical-title{
    position: relative;
    width: 400px;
    top: 5px;
    left: 45px;
    font-size: 18px;
}


.image{
    display: flex;
    padding: 0 850px;
}

#element{
    color: rgb(174, 109, 235);
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin: 400px;
    text-decoration: underline;
    font-weight: normal;
}
